body {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background-color: rgb(12, 12, 12);
}

.header {
    width: 100%;
    height: 60px;
    padding: 10px;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
}

.instructions {
    background-color: rgb(0, 0, 0);
    border-style: solid none;
    border-width: 2px;
    border-color: rgb(223, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.instructions h2 {
    text-align: center;
}

.settings {
    background-color: rgb(0, 0, 0);
    border-style: solid none;
    border-width: 2px;
    border-color: rgb(223, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#start_screen {
    display: block;
}

#game_screen {
    display: none;
}

.btn {
    cursor: pointer;
    height: 40px;
    width: 80%;
    background: rgb(218, 0, 0);
    border-radius: 5px;
    color: white;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 4px;
    border-style: solid;
    border-color: rgb(255, 216, 206);
}

.start_button {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: rgb(129, 0, 0);
    color: rgb(216, 216, 216);
}

.slider_text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(223, 0, 0);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(255, 0, 0);
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.controls button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    background: rgb(218, 0, 0);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 216, 206);
}

.controls button:hover {
    background: rgb(129, 0, 0);
}

.control-grid {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.control-grid button:nth-child(1) {
    grid-column: 2;
}

.control-grid button:nth-child(2) {
    grid-column: 1;
}

.control-grid button:nth-child(3) {
    grid-column: 3;
}

.control-grid button:nth-child(4) {
    grid-column: 2;
}

.actions {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.undo {
    width: 20%;
    margin-top: 85px;
    margin-right: 30px;
}

#result_screen {
    display: none;
}

.result {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 15vh;
}

.result h2 {
    color: #fff;
    width: 100%;
    height: 150px;
    background: rgba(100, 0, 0, 0.5);
    padding: 15px 25px;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result button {
    font-size: 36px;
    background: rgb(218, 0, 0);
    color: #fff;
    border-radius: 10px;
    border-color: rgb(255, 216, 206);
    border-style: solid;
    cursor: pointer;
    padding: 10px 25px;
    display: block;
    margin: 0 auto;
}
